.goal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Media query for screens smaller than 768px */
/* @media (max-width: 767px) {
  .goal-list {
    font-size: 16px;
    padding: 10px;
  }
} */

/* Media query for screens larger than 768px */
/* @media (min-width: 768px) {
  .goal-list {
    font-size: 18px;
    padding: 20px;
  }
} */

.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin-right: 10px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
